{{ "MkNodes" | MkHeader(level=1) }}

{{ "Don't write docs. Code them." | MkHeader(level=4) }}

{{ ["version", "status"] | MkShields }}

{{ "https://phil65.github.io/mkdocs-mknodes/" | MkLink("Read the completely coded documentation!")}}

{{ "mkdocs_mknodes" | MkInstallGuide }}

{{ "All the nodes!" | MkHeader }}

{{ "mknodes.MkNode" | MkClassDiagram(mode="subclasses", direction="LR") }}
