INHERIT: mkdocs_shared.yml

site_name: MkDocs
site_description: A MkDocs page created by MkNodes
repo_url: "https://github.com/mkdocs/mkdocs/"
site_url: https://phil65.github.io/mknodes/mkdocs/
plugins:
- mknodes:
    repo_path: https://github.com/mkdocs/mkdocs.git
    clone_depth: 100
    build_fn: mknodes:MkDefaultWebsite.for_project
    kwargs:
      static_pages:
        Usage:
          - Getting started: https://raw.githubusercontent.com/mkdocs/mkdocs/master/docs/getting-started.md
          - Configuration: https://raw.githubusercontent.com/mkdocs/mkdocs/master/docs/user-guide/configuration.md
          - Deploying your docs: https://raw.githubusercontent.com/mkdocs/mkdocs/master/docs/user-guide/deploying-your-docs.md
          - Installation: https://raw.githubusercontent.com/mkdocs/mkdocs/master/docs/user-guide/installation.md
          - Localizing your Theme: https://raw.githubusercontent.com/mkdocs/mkdocs/master/docs/user-guide/localizing-your-theme.md
          - Writing your docs: https://raw.githubusercontent.com/mkdocs/mkdocs/master/docs/user-guide/writing-your-docs.md
