It is possible to construct a basic documentation websites for without much effort. We will construct a small
website for MkDocs.

The following config...

{{ config | MkCode(language="yaml") }}

Combined with this CLI call...

{{"mknodes build" | MkCode(language="terminal")}}


Will create this website:


{{ "https://phil65.github.io/mkdocs-mknodes/mkdocs" | MkLink(as_button=True, icon="web") }}


